<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">ICRAR 2015</title>
  <meta py:replace="select('*')"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/bootstrap.min.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
</head>

<body py:match="body" py:attrs="select('@*')">

  <div class="container page-wrap">
    <div class="row">
      <div class="col-lg-5">
        <a href="http://icrar.org">
          <img src="${tg.url('/img/icrar.png')}" style="width: 100%" alt="ICRAR Logo"/> 
        </a>
      </div>
    </div>
    <!-- Flash messages -->
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div py:if="flash" py:replace="Markup(flash)" />
        </div>
      </div>
    </py:with>

    <!-- Main included content -->
    <div py:replace="select('*|text()')"/>
  </div>


  <!--<footer class="footer">
    <p><a href="http://www.icrar.org">ICRAR</a> ${h.current_year()}</p>
  </footer>-->

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="${tg.url('/javascript/bootstrap.min.js')}"></script>
  <script async="" src="${tg.url('/javascript/plotly.min.js')}"></script>
  <script src="${tg.url('/javascript/everpolate.min.js')}"></script>
  <script src="${tg.url('/javascript/numeric.min.js')}"></script>
  <script src="${tg.url('/javascript/nanobar.min.js')}"></script>
  <script src="${tg.url('/javascript/index.js')}"></script>
</body>
</html>
